.loader{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_circle{
    width:150px;
    height:150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    p{// TEXT = LOADING...
        font-size:20px;
        animation: loader_text 5s ease-in-out infinite;
    }
    &::after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        box-shadow: 0px 0px 5px $primary;
        animation : loader 2s linear infinite;    
        border-radius: 50%;
    }
}

@keyframes loader_text{
    50%{
        color:$primary;
    }
}

@keyframes loader {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 1px 2px $primary;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 1px 2px $primary;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 1px 2px $primary;
    }
}

.bouncing-loader{
    ul{
        width:100%;
        height: 100vh;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width:10px;
            height:10px;
            margin-left:20px;
            background-color: $primary;
            border-radius: 50%;
            animation: bouncing 1s infinite alternate;
            box-shadow: 4px 4px 20px whitesmoke;
        }
    }
}

@keyframes bouncing {
    from{
        transform: translateY(30px);
    }   
    to{
        transform: translateY(0px);
    } 
}

.bouncing-loader ul li:nth-child(1){
    animation-delay: 0.2s;    
}
.bouncing-loader ul li:nth-child(2){
    animation-delay: 0.4s;    
}
.bouncing-loader ul li:nth-child(3){
    animation-delay: 0.6s;    
}
.bouncing-loader ul li:nth-child(4){
    animation-delay: 0.8s;    
}
.bouncing-loader ul li:nth-child(5){
    animation-delay: 1s;    
}


.text-loader{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size:70px;
        margin-left:8px;
        color:$primary;
        text-align: 4px 4px 20px lightgray;
        text-shadow: 4px 4px 10px lightgray, 
                    -4px -4px 10px lightgray;
        animation: text_loading 4s linear infinite alternate-reverse;
    }
}

@keyframes text_loading {
    0%{
        transform: scale(1.2);
        color:$primary;
    }   
    100%{
        transform: scale(0.8);
        color:white;
        text-shadow: none;
    }
}

.text-loader p:nth-child(1){
    animation-delay: 0.1s;
}
.text-loader p:nth-child(2){
    animation-delay: 0.2s;
}
.text-loader p:nth-child(3){
    animation-delay: 0.3s;
}
.text-loader p:nth-child(4){
    animation-delay: 0.4s;
}
.text-loader p:nth-child(5){
    animation-delay: 0.5s;
}
.text-loader p:nth-child(6){
    animation-delay: 0.6s;
}
.text-loader p:nth-child(7){
    animation-delay: 0.7s;
}