<script>
	// If Person is Try to Refresh the page then show warning...
	window.onbeforeunload = function(){
		return 'If you refresh the page you lost this step';
	};
</script>
<div class="rounded border m-auto forgot_password">
	<p class="h5 bg-dark text-light text-center py-3 text-uppercase">Forgot Password</p>
	<form id="forgot_password" class="px-4">
		<input type="hidden" name="_token" value="{{_token}}">
		<p class="h6 py-2 my-3 alert alert-danger m-0 d-none error_msg1 text-capitalize"></p>
		<div class="form-group mb-2">
			<label class="form-label m-0 h6" >Role</label>
			<select name="role" class="custom-select">
				<option value="student">Participant</option>
				<option value="volunteer">Volunteer</option>
				<option value="event_manager">Event Manager</option>
			</select>
		</div>
		<div class="form-group mb-2">
			<label class="form-label m-0 h6" for="">Email Address</label>
			<input class="form-control" type="text" name="email">
			<p class="py-1 email_error_msg small d-none"></p>
		</div>
		<button class="my-3 btn btn-warning w-100 first_next"><span class="h6">NEXT</span></button>
	</form>
</div>

<script>
	$('#forgot_password').submit(function(e){
		e.preventDefault();
		$.ajax({
			url : '/forgot_password/send_otp',
			method : 'POST',
			data : $(this).serialize(),
			beforeSend : function(){
				$('.first_next').attr('disabled','disabled').html(`<span class="h6">Processing...</span>`);
			},
			success : function(res){
				if(res){
					$('.first_next').removeAttr('disabled').html(`<span class="h6">NEXT</span>`);
					$('.forgot_password').addClass('d-none');
					$('.otp_section').removeClass('d-none');					
				}
			},
			error : function(xhr, status, error){
				$('.first_next').removeAttr('disabled').html(`<span class="h6">NEXT</span>`);
				$('.error_msg1').removeClass('d-none').text(xhr.responseJSON.message);
			}
		})
	});
	//For all hidden field in Set New password...
	$('[name="email"]').keyup(function(){
		const email = $(this).val();
		$('[name="email"]').val(email);
	});
	$('[name="role"]').change(function(){
		const role = $(this).val();
		$('[name="role"]').val(role).change();
	});
</script>

<div class="m-auto rounded border otp_section d-none">
	<p class="h5 bg-dark text-light text-center py-3 text-uppercase">OTP SECTION</p>
	<form id="check_otp" class="px-4">
		<input type="hidden" name="_token" value="{{_token}}">
		<p class="m-0 my-3 py-2 alert alert-warning h6 error_msg2 text-capitalize">OTP Sent on your Email Address...</p>
		<div class="form-group mb-2">
			<label class="form-label h6 m-0" for="">Enter OTP</label>
			<input class="form-control" type="text" name="otp">
		</div>
		<button class="my-3 btn btn-warning w-100 second_next"><span class="h6">NEXT</span></button>
	</form>
</div>

<script>
	$('#check_otp').submit(function(e){
		e.preventDefault();
		$.ajax({
			url : '/forgot_password/check_otp',
			method : 'POST',
			data : $(this).serialize(),
			beforeSend : function(){
				$('.second_next').attr('disabled','disabled').html(`<span class="h6">Processing...</span>`);
			},
			success : function(res){
				if(res){
					$('.second_next').removeAttr('disabled').html(`<span class="h6">NEXT</span>`);
					$('.otp_section').addClass('d-none');
					$('.set_new_password').removeClass('d-none');					
				}
			},
			error : function(xhr, status, error){
				$('.second_next').removeAttr('disabled').html(`<span class="h6">NEXT</span>`);
				$('.error_msg2').removeClass('d-none').text(xhr.responseJSON.message);
			}
		})
	});
</script>

<div class="m-auto rounded border set_new_password d-none">
	<p class="h5 bg-dark text-light text-center py-3 text-uppercase">SET NEW PASSWORD</p>
	<form id="set_new_password" class="px-4">
		<p class="m-0 my-3 py-2 alert alert-warning h6 error_msg3 d-none text-capitalize"></p>
		<input type="hidden" name="_token" value="{{_token}}">	
		<select name="role" hidden>
			<option value="student">participant</option>	
			<option value="volunteer">volunteer</option>	
			<option value="event_manager">event_manager</option>	
		</select>
		<input type="hidden" name="email">
		<div class="form-group mb-2">
			<label class="form-label m-0 h6" for="">New Password</label>
			<input class="form-control" type="password" name="password" minlength="6">
		</div>
		<div class="form-group mb-2">
			<label class="form-label m-0 h6" for="">Conrifm Password</label>
			<input class="form-control" type="password" name="confirm_password" minlength="6">
		</div>
		<button class="my-3 btn btn-warning w-100"><span class="h6">SUBMIT</span></button>
	</form>
</div>

<a href="/login" class="d-none">login</a>

<script>
	$('#set_new_password').submit(function(e){
		e.preventDefault();
		$.ajax({
			url : 'forgot_password/set_new_password',
			method : 'PUT',
			data : $(this).serialize(),
			success : function(res){
				if(res){
					swal('New Password Set Successfully...','','success')
					.then(()=>{
						$('[href="/login"]')[0].click();
					});
				}
			},
			error : function(xhr, status, error){
				$('.error_msg3').removeClass('d-none').text(xhr.responseJSON.message);
			}
		})
	});
</script>
