<div class="m-auto rounded border signup_form">
	<p class="h5 bg-dark text-light text-center py-3 text-uppercase">Registration Form</p>
	<form id="signup" class="px-4">
		<input type="hidden" name="_token" value="{{_token}}">
		<p class="m-0 my-3 py-2 alert alert-danger h6 error_msg d-none text-capitalize"></p>
		<div class="form-group mb-3">
			<label class="m-0 h6">Role <span class="text-danger">*</span></label>
			<select class="custom-select" name="role">
				<option value="student">Participant</option>
				<option value="event_manager">Event Manager</option>
				<option value="volunteer">Volunteer</option>
			</select>
		</div>
		<div class="form-group mb-3">
			<label class="m-0 h6">Full Name <span class="text-danger">*</span></label>
			<input class="form-control" type="text" name="name">
		</div>
		<div class="form-group mb-3">
			<label class="m-0 h6">Email Address <span class="text-danger">*</span></label>
			<input class="form-control" type="text" name="email">
		</div>
		<div class="form-group mb-3">
			<label class="m-0 h6">Mobile <span class="text-danger">*</span></label>
			<input class="form-control" type="text" name="mobile">
		</div>
		<div class="form-group mb-3">
			<label class="m-0 h6">Password <span class="text-danger">*</span></label>
			<input class="form-control" type="password" name="password">
		</div>
		<div class="form-group mb-3">
			<label class="m-0 h6">Confirm Password <span class="text-danger">*</span></label>
			<input class="form-control" type="password" name="confirm_password">
		</div>
		<div class="form-group d-flex align-items-center mb-3">
			<input type="checkbox" name="tc">
			<p class="h6 m-0 mx-2">Agree with <a href="/term_condition" target="_blank">Term & Conditon?</a> </p>
		</div>
		<button class="btn btn-warning w-100 signup_btn" disabled><span class="h6">REGISTRATION</span></button>
		<p class='mt-3 text-center'>Already Account? <a href="/login">Login</a></p>
	</form>
</div>

<script>
	
	$('[name="tc"]').change(function(){
		if($(this).prop('checked'))
			$('.signup_btn').removeAttr('disabled');
		else
			$('.signup_btn').attr('disabled','disabled');
	});

	$('#signup').submit(function(e){
		e.preventDefault();
		$.ajax({
			url : '/signup',
			method : 'POST',
			data : $(this).serialize(),
			success : function(res, status){
				swal('Registration Successfully...','','success').then(()=>{
					$('[href="/login"]')[0].click();
				});
			},
			error: function(xhr, status, error){
				$('.error_msg').removeClass('d-none').text(xhr.responseJSON.message);
				window.scrollTo(0, 0);
				$('[name="tc"]').prop('checked',false);
				$('.signup_btn').attr('disabled','disabled');
			}
		})
	})
</script>