<div class="d-flex flex-column align-items-center">
	<p class="display-4 text-center mt-5">Term & Condition</p>
	<ul class="m-0">
		<li class="mb-2">
			<p class="h5 m-0 font-weight-normal" style="line-height:35px;">You can't delete your account for delete have to contact to Admin</p>				
		</li>
		<li class="mb-2">
			<p class="h5 m-0 font-weight-normal" style="line-height:35px;">You can't change your Email Address</p>				
		</li>
		<li class="mb-2">
			<p class="h5 m-0 font-weight-normal" style="line-height:35px;">Once if you participated in any event then you can't unparticipate from that event, if you have genuine reason then you should have to contact to <span>Event Manager</span></p>
		</li>
	</ul>
	<a href="/"class="btn btn-sm btn-dark mt-5 mb-4 py-2" style="width:100px;"><span class="h6">GO HOME</span></a>
</div>
